<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Techest of Blogs</title>
        <link rel="stylesheet" href="/public/css/jass.css">
        <link rel="stylesheet" href="/public/css/style.css">
    </head>

    <body>
        <div class="flex-column justify-space-around">

        <header class="display-flex justify-space-between align-center p-2">
            <nav>
                {{#if logged_in}}
                <a class="nav-a" href="/">Posts</a>
                <a class="nav-a" href="/profile">Profile</a>
                <button class="no-button" id="logout">Logout</button>
                {{else}}
                <a class="nav-a" href="/login">Login</a>
                {{/if}}
            </nav>
            </header>

        <div class="row">
            <div class="column display-flex justify-space-between ml-3 p-2">
                <h1>
                    <a href="/">The Techest of Blogs</a>
                </h1>
            </div>
        </div>
        <main class="container container-fluid mt-5">
            {{{ body }}}
        </main>

        <footer></footer>

        </div>

        {{#if logged_in}}
        <script src="/public/js/logout.js"></script>
        {{/if}}
    </body>


</html>