<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="loginEmail">Email:</label>
        <input class="form-input" type="text" id="loginEmail" />
      </div>
      <div class="form-group">
        <label for="loginPass">Password:</label>
        <input class="form-input" type="password" id="loginPass" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="signupName">Username:</label>
        <input class="form-input" type="text" id="signupName" />
      </div>
      <div class="form-group">
        <label for="signupEmail">Email:</label>
        <input class="form-input" type="text" id="signupEmail" />
      </div>
      <div class="form-group">
        <label for="signupPass">Password:</label>
        <input class="form-input" type="password" id="signupPass" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
